.aside{
    color: #AAA;
  }
  
.aside .card {
    border: none;
    margin-left: -15px;
  }

.aside a {
    text-decoration: none;
    color: black;
  }

.list-group-flush .list-group-item {
    border-bottom-width: 0px;
    padding-bottom: 0px;
  }