.thumbnail {
    margin-top: 0px;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
  }
  
  h5.mediaHeading {
    margin-bottom: 0px;
    color: #000;
  }

  /* .card-img {
      width:100%;
      object-fit:cover;
  } */

/*    .card-img {
    width: 725px;
    height: 152px;
    /* background-image: url("/../img/people.jpg"); */
   /*  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } */
  

  img {
    margin-right: 10px;
  }
  
  p, ul {
    list-style-type: none;
    padding: 0;
    color: #000; 
  }

  .profileStatus{
    font-size: 11pt;
    color: brown;
}

input {
  border:#000;
  margin-bottom: 0px;
}

.input {
  margin-bottom: 50px;
  border: none;
  font-size: 11pt;
}

input:valid {
  font-size: 10pt;
  line-height: 0vw;
  padding: 0vw;
  color:#AAA;
  border:#000;
}